@import "tailwindcss";

* {
    box-sizing: border-box;
}

/* Scrollbar Styling */
::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    background: #f0f0f0;
    /* light background */
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: grey;
    /* your theme color */
    border-radius: 10px;
    border: 2px solid #f0f0f0;
}

html,
body,
#root {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}